# Node.js
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log

# Env files
.env
.env.local

# Logs
logs
*.log

# Editor/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
